table{

background-color: aquamarine;
border: 3px solid crimson;



}
form{
background-color: darkkhaki;
border: 4px solid chocolate;


}
button{

    margin: 20px;
    padding: 30px;
    color: rgb(80, 90, 58);
}
a{
    font: size 30px;
}